%h1.adminheader
  = link_unless_current 'Blog dashboard', admin_blog_path
  &middot;
  = link_unless_current "Case dashboard", admin_case_path
  &middot;
  = link_unless_current "Text dashboard", admin_text_path
