%h1 Cases by keyword

%table{width: '100%'}
  %tbody
    - @keywords.each do |keyword|
      %tr
        %td
          %h3= keyword
      = render partial: 'case', collection: @cases_by_keyword[keyword].sort_by(&:title), as: '_case'
