%h1 Cases by name

%table{width: '100%'}
  %tbody
    - cases_by_initial = @cases.group_by { |c| c.title[0] }
    - cases_by_initial.each_key do |initial|
      %tr
        %td
          %h3= initial
      = render partial: 'case', collection: cases_by_initial[initial], as: '_case'
