%h1 Cases by subject

%input{type:"text", placeholder: "Filter by subject", id:"kwfilter"}

%div{"data-magellan-expedition" => "fixed"}
  %dl.sub-nav
    - @keywords_by_initial.each_key.sort.each do |initial|
      %dd{"data-magellan-arrival" => initial}
        %a{href: "##{initial}"}= initial

%table{width: '100%'}
  %tbody
    - @keywords_by_initial.each_key.sort.each do |initial|
      %tr.initialrow
        %td
          %a{name: initial, "data-magellan-destination" => initial}
      - @keywords_by_initial[initial].each do |keyword|
        %tr.keywordrow
          %td
            %h3.keyword= keyword
            %table{width: '100%'}
              %tbody
                = render partial: 'case', collection: @cases_by_keyword[keyword].sort_by(&:title), as: '_case'
