%h2 Disability Discrimination Update
%h5 From Spencer Keen and Monika Sobiecki

%p This site contains case summaries of almost every significiant disability discrimination appeal since 2010.  We hope you find it useful.   You are welcome to use the summaries but please acknowledge both Spencer and Monika when you do.

.row
  .small-6.medium-4.medium-offset-1.columns
    = image_tag "spencer.jpg", class: 'portrait'
  .small-6.medium-4.medium-offset-1.columns.end
    = image_tag "monika.jpg", class: 'portrait'

