.row
  .small-12.medium-5.medium-offset-1.columns
    = image_tag "spencer.jpg", class: 'portrait'
    %h4 Spencer Keen
    %p.address Old Square Chambers
    %p.address 10-11 Bedford Row
    %p.address WC1R 4BU

    %hr

    %p.address 0117 930 5100
    %p.address= mail_to("keen@oldsquare.co.uk")

  .small-12.medium-5.medium-offset-1.columns.end
    = image_tag "monika.jpg", class: 'portrait'
    %h4 Monika Sobiecki
    %p.address Pump Court Chambers
    %p.address 3 Pump Court
    %p.address EC4Y 7AH

    %hr

    %p.address 0207 353 0711
    %p.address= mail_to("sobiecki@pumpcourtchambers.com")

