// Place all the styles related to the cases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globals_and_mixins";

.keywords {
  font-style: italic;
  font-weight: bold;
  font-family: $serif-fonts;
}

td > p {
  margin-bottom: 0;
}

/* Cases by name table styling */
.initialrow {
    background-color: #fff !important;
}

/* Cases by keyword table styling */
.keywordrow .caserow {
    background-color: #fff;
}
