@import "globals_and_mixins";

$footer-height: 60px;

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main-container {
  overflow:auto;
	padding-bottom: $footer-height + 20px;
}

#footer {
  position: relative;
	margin-top: -$footer-height;
	height: $footer-height;
	clear:both;
  background-color: $nav-color;
} 

#webdesign {
  font-family: $sans-fonts;
  padding: 1.3rem 0.9rem;
  font-size: 0.8rem;
}
