//Overrides to foundation defaults (need to be before import):
$body-font-family: "Alegreya", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif !default;
$header-font-family: "Alegreya SC", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif !default;
$body-bg: #fff !default;
$secondary-color: #e70000 !default;
$topbar-link-font-size: rem-calc(15);
$topbar-title-font-size: rem-calc(15);

// light topbar
$sans-fonts: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
$topbar-link-font-family: $sans-fonts;
$topbar-bg: rgb(229, 229, 229);
$topbar-dropdown-bg: rgb(229, 229, 229);
$topbar-dropdown-link-color: #000;
$topbar-dropdown-link-bg: #BBB;
$topbar-dropdown-toggle-color: #000;
$topbar-link-color: #000;
$topbar-link-color-hover: #000;
$topbar-link-color-active: #000;
$topbar-link-color-active-hover: #000;
$topbar-link-hover-lightness: +10%; // lighten by 10%
$topbar-link-bg-hover: #BBB;
$topbar-menu-link-color: #000;
$topbar-menu-icon-color: #000;
$topbar-menu-link-color-toggled: #888;
$topbar-menu-icon-color-toggled: #888;
$topbar-menu-link-font-size: rem-calc(50);

// import the CSS framework
@import "foundation";

// override for the 'Home' navigation link
.top-bar .name {
  line-height: rem-calc(45px); 
}
#title {
  font-family: $header-font-family;
  color: $header-font-color;
  font-size: $h5-font-size;
  padding: 0 rem-calc(15px); 
}

h1, label {
  font-family: $sans-fonts;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin main {
  @extend .small-12;
  @extend .medium-8;
  @extend .small-centered;
  @extend .columns;
  }

main {
  @include main;
}
