@import "globals_and_mixins";

//Overrides to foundation defaults (need to be before import):
$body-font-family: $sans-fonts;
$header-font-family: $serif-sc-fonts;
$body-bg: #fff !default;
$secondary-color: #e70000 !default;
$rem-base: $base-font-size !default;

$topbar-link-font-size: 1rem;
$topbar-height: 60px;

// light topbar
$topbar-link-font-family: $sans-fonts;
$topbar-bg: $nav-color;
$topbar-dropdown-bg: $nav-color;
$topbar-dropdown-link-color: #000;
$topbar-dropdown-link-bg: #BBB;
$topbar-dropdown-toggle-color: #000;
$topbar-link-color: #000;
$topbar-link-color-hover: #000;
$topbar-link-color-active: #000;
$topbar-link-color-active-hover: #000;
$topbar-link-hover-lightness: +10%; // lighten by 10%
$topbar-link-bg-hover: #BBB;
$topbar-menu-link-color: #000;
$topbar-menu-icon-color: #000;
$topbar-menu-link-color-toggled: #888;
$topbar-menu-icon-color-toggled: #888;

$table-bg: #f3f3f3;
$table-even-row-bg: #f3f3f3;
$table-border-style: none;

// import the CSS framework
@import "foundation";

// override for the 'Home' navigation link
.top-bar .name {
  line-height: rem-calc(55px);
}

#title {
  font-family: $header-font-family;
  color: $header-font-color;
  font-size: 1.1rem;
  padding: 0 1rem;
}

h1, label, form, .alert-box {
  font-family: $sans-fonts;
}

label {
  font-size: 1em;
  font-weight: bold;
}


// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin main {
  @extend .small-12;
  @extend .small-centered;
  @extend .columns;
  }

main {
  @include main;
}

p {
  text-align: justify;
}
