// Variables & mixins I want to import in any file
// Don't put styles here, they'll be imported multiple times

$serif-fonts: "Algreya", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Georgia", "Times New Roman", serif !default;
$serif-sc-fonts: "Alegreya SC", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Georgia", "Times New Roman", serif !default;
$sans-fonts: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;

$base-font-size: 22px !default;

$nav-color: rgb(229, 229, 229);
